@page
@model QuanLyNhaSach.Pages.Book.DeleteModel
@{
	ViewData["Title"] = "Book";
}

<div>Bạn có muốn xoá đầu sách @Model.book.Name không?</div>
<div>@Model.notify</div>
<form method="post">
	<input type="submit" value="Có"> <input type="button" value="Không" onclick="window.location='/Book/View';" ><br>
</form>

