@page
@model QuanLyNhaSach.Pages.User.AddModel
@{
	ViewData["Title"] = "User";
}
@using QuanLyNhaSach.Entities;
@using QuanLyNhaSach.Processing;
@attribute [Authorize(Roles = "Admin")]
<form method="post">
	<label>Tên nhân viên:</label><br>
	<input type="text" name="name"><br><br>

	<label>Tên đăng nhập:</label><br>
	<input type="text" name="username"><br><br>

	<label>Mật khẩu:</label><br>
	<input type="text" name="password"><br><br>

	<label>Quyền:</label><br>
	@{
		IBase<Role> _role = (IBase<Role>)Injector.Injector.GetProcessing<RoleProcessing>();
		List<Role> roles = await _role.GetAllAsync();
		@for (int i = 0; i < roles.Count(); i++)
		{
			<div>
				<input type="checkbox" value="@roles[i].Id" name="roles" />
				<label>@roles[i].Name</label>
			</div>
		}
	}
	<input type="submit" value="Thêm"><input type="button" value="Trở lại" onclick="window.location='/User/View';" ><br>
	@Model.notify
</form> 
