@page
@model QuanLyNhaSach.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<p>You are not authorized to access this page.</p>
<button onclick="history.back()">Trở lại</button>
