@page
@model QuanLyNhaSach.Pages.BookType.DeleteModel
@{
	ViewData["Title"] = "Book Type";
}

<div>Bạn có muốn xoá loại hàng @Model.type.Name không?</div>
<div>@Model.notify</div>
<form method="post">
	<input type="submit" value="Có"> <input type="button" value="Không" onclick="window.location='/BookType/View';" ><br>
</form>

