@page
@model QuanLyNhaSach.Pages.BookType.UpdateModel
@{
	ViewData["Title"] = "Book Type";
}
@using QuanLyNhaSach.Entities;
<form method="post">
	<label>Tên thể loại:</label><br>
	<input type="text" name="name" value="@Model.type.Name"><br>

	<input type="submit" value="Sửa"><input type="button" value="Trở lại" onclick="window.location='/BookType/View';" ><br>
	@Model.notify
</form> 