@page
@model QuanLyNhaSach.Pages.BookType.ViewModel
@{
	ViewData["Title"] = "Book Type";
}
@using QuanLyNhaSach.Entities;

<div><a href="/BookType/Add">Thêm mới</a></div>
<table>
	<tr>
		<th>Mã thể loại</th>
		<th>Tên thể loại</th>
		<th>Thao tác</th>
	</tr>
	@foreach (BookType item in Model.types)
	{
	<tr>
		<td>@item.Id</td>
		<td>@item.Name</td>
		<td><a href="/BookType/Update?id=@item.Id">Sửa</a> | <a href="/BookType/Delete?id=@item.Id">Xoá</a></td>
	</tr>
	}
</table>